<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

		<style>
			#header {
				height: 100px;
				background-color: #315A7A;
			}

			button {
				transition-duration: 0.2s;
				font-size: 150%;
				width: 200px;
				background-color: #4CAF50;
				border-radius: 10px;
				position: relative;
				top: 10px;
			}

			button:hover {
				background-color: white;
			}

			td {
				padding-left: 50px;
				padding-top: 30px;
			}
		</style>

		<div id="header">
			<button onclick="location.replace('/index')">
				Back to main page
			</button>
		</div>
	</head>
	<body>
		<div>
			<p style="color: red; text-align: center; font-size: 800%; position: relative; top: 100px">Error</p>
		</div>
	</body>
</html>