<!DOCTYPE html>
<html>
	<head>
		<datalist id="thisone">
		</datalist>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script>
			function getCookie(name) {
	    		let cookieValue = null;
	    		if (document.cookie && document.cookie !== '') {
	        		const cookies = document.cookie.split(';');
	        		for (let i = 0; i < cookies.length; i++) {
	            		const cookie = cookies[i].trim();
	            		if (cookie.substring(0, name.length + 1) === (name + '=')) {
	                		cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                		break;
	            		}
	        		}
	    		}
	    		return cookieValue;
			}

			const csrftoken = getCookie('csrftoken');

			$(document).ready( function() {
				$.ajax( {
						url: 'list', 
						success: function(data, status) {
									var option = data;
									console.log(data);
									console.log(option.options);
									console.log(document.cookies);
									document.getElementById("thisone").innerHTML = option.options;
								},
						headers : {
										'HTTP_X_CSRFTOKEN' : csrftoken,
								}
				} );
			} );
		</script>
	</head>
	<body>
		<form autocomplete="off">
			{% csrf_token %}
			{{ form  }}
		</form>
	</body>
</html>